.container-content {
  width: 100%;
  height: 73vh;
  display: flex;
  margin-top: 11%;
  scroll-behavior: smooth;
}

.content-wrapper {
  width: 83vw;
  margin: auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.svg-container {
  display: flex;
  width: 40vw;
  height: 30rem;
}

.svg-wrapper {
  display: flex;
  height: 50%;
  width: 50%;
  margin-left: 30.5%;
  margin-right: auto;
  margin-top: 20%;
}

.elements-container {
  width: 40vw;
  height: 30rem;
}

.element-header {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  color: #333132;
}

.element-desc-intro {
  width: 31.25rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #333132;
  font-weight: 400;
}

.element-desc-main-container {
  margin: 30px 0 40px;
  width: 100%;
  height: 23rem;
  line-height: 18.8333px;
  background: #e9ebff;
  display: flex;
}

.element-desc-main-wrapper {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: #7c7c7c;
  background: #e9ebff;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 12.5rem;
}
.icon {
  width: 3.125rem;
  margin-bottom: 1rem;
}
